name: Build Apk test
on:
  workflow_dispatch:
jobs:
  apk:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Typewords build
        #if: ${{ github.ref == 'refs/heads/xsldsld' }}
        run: |
          git clone https://github.com/bestfood-lxj/TypeWords.git
          cd TypeWords
          git checkout remotes/origin/master_bf_v2
          rm -fr .output
          rm -fr typewords
          npm install -g pnpm
          pnpm install
          pnpm run build
          mv .output/public typewords
          rm -fr ../../src/assets/typewords
          cp -r typewords ../../src/assets/.
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
          workspaces: ./src-tauri -> target
      - name: install dependencies
        run: |
          sudo apt-get update
          #sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
          sudo apt-get install -y libwebkit2gtk-4.1-dev libayatana-appindicator3-dev librsvg2-dev
        # webkitgtk 4.0 is for Tauri v1 - webkitgtk 4.1 is for Tauri v2.
        # You can remove the one that doesn't apply to your app to speed up the workflow a bit.
        # add the Android targets with rustup:
      - name: build apk
        run: |
          cargo install create-tauri-app --locked
          cargo install tauri-cli
          rustup target add aarch64-linux-android
          cargo tauri android build  -t aarch64
          echo "$JKSFILE" | base64 --decode > my-release-key.jks
          #$ANDROID_SDK/build-tools/35.0.0/apksigner sign --ks my-release-key.jks --ks-key-alias "$JKS_ALIAS" --ks-pass "$JKS_PASS" --out app-universal-release-signed.apk app-universal-release-unsigned.apk
          /usr/local/lib/android/sdk/build-tools/35.0.0/apksigner sign --ks my-release-key.jks --ks-key-alias "$JKS_ALIAS" --ks-pass "pass:$JKS_PASS" --out src-tauri/gen/android/app/build/outputs/apk/universal/release/app-universal-release-signed.apk src-tauri/gen/android/app/build/outputs/apk/universal/release/app-universal-release-unsigned.apk
        env:
          JKSFILE: ${{ secrets.JKSFILE }}
          JKS_ALIAS: ${{ secrets.JKS_ALIAS }}
          JKS_PASS: ${{ secrets.JKS_PASS }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          # download auto zip
          name: signed-release
          path: |
            src-tauri/gen/android/app/build/outputs/apk/universal/release/*-signed.apk
