name: Build Apk test
on:
  workflow_dispatch:
jobs:
  apk:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
        # webkitgtk 4.0 is for Tauri v1 - webkitgtk 4.1 is for Tauri v2.
        # You can remove the one that doesn't apply to your app to speed up the workflow a bit.
      - name: build apk
        run: |
          cargo install create-tauri-app --locked
          cargo tauri android build  -t aarch64
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          # download auto zip
          name: no-signed-release
          path: |
            src-tauri/gen/android/app/build/outputs/apk/universal/release/*.apk
